#search-wrap {
    position: relative;
    max-width: 800px;
    margin: auto;
    input[type="search"] {
        width: 100%;
        padding: 8px 34px 8px 8px;
        border-radius: 4px;
        border: 1px #ccc solid;
        &::-webkit-search-decoration,
        &::-webkit-search-cancel-button,
        &::-webkit-search-results-button,
        &::-webkit-search-results-decoration {
            display: none;
        }
    }
    .actions {
        position: absolute;
        top: 6px;
        right: 8px;
    }
    button {
        background: none;
        border: none;
        box-shadow: none;
        img {
            max-height: 18px;
            width: auto;
        }
    }
}