<div id=search-wrap>
    <input type="search" placeholder={{placeholderText}} class="search-input" (keyup.enter)="searchAction()" [(ngModel)]="searchValue" />
    <div class="actions">
        <button type="reset" *ngIf="searchValue.length" (click)="clearInput()">
            <img src="/assets/imgs/close.svg" alt=""/>
        </button>
        <button type="button" class="search-btn" (click)="searchAction()">
          <img src="/assets/imgs/search.svg" alt=""/>
        </button>
    </div>
</div>